


 <div class="flex-container"> 
     
  <div style="z-index:3">
    
   <h1>Rise of the ageless starman</h1>   
    </div>
     <div>  
      <p style="z-index:3">fddfd dff df dfdfdff df df dfdf  fdfd dfdf dfd df
       fddfd dff df dfdfdff df df dfdf  fdfd dfdf dfd df
        fddfd dff df dfdfdff df df dfdf  fdfd dfdf dfd df
       fddfd dff df dfdfdff df df dfdf  fdfd dfdf dfd df
      </p>
      <h3>With Dr</h3>
   
    </div>
  </div>
    <img class="starman" src='assets/david.png' width="350">
 
 
 
  
<div class="pic" >

 <div><a  (click)="toggle()"  class="audio"><img src="assets/play.png"  ></a></div>
         <div class="time" *ngIf="show_dialog">
      <audio controls autoplay>
        <source src="assets/Heartbeat.mp3">
          
           
      </audio>
       
     </div>
    
    
  </div>
  
   
  

