body {
  background: white;
 
  padding-left: 0;
}

.Iam {
 
  padding: 2em 5em;
  font: normal 40px/50px Montserrat, sans-serif;
  color: #225470;
  height: 100px;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
  color:#225470;
  
  padding-right: 2px;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #225470;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 10s;
   -moz-animation:move 10s;
    -ms-animation:move 10s;
     -o-animation:move 10s;
        animation:move 10s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:5s;
   -moz-animation-delay:5s;
    -ms-animation-delay:5s;
     -o-animation-delay:5s;
        animation-delay:5s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

@media screen and (max-width: 600px){
  body {
  background: white;

}

.Iam {

  
  font: normal 16px/20px Montserrat, sans-serif;
  color: #225470;
  height: 100px;
  float: center;
}
.Iam p {
  height: 23px;
  float: center;
  margin-right: 0;
}
.Iam b {
  float: center;
  overflow: hidden;
  position: relative;
  height: 20px;
  top: 40px;
  
}
.Iam .innerIam {
  display: inline-block;
  color: #225470;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

}

@keyframes move{
  0%  { top: 0px; }
    20% { top: -20px; }
    40% { top: -40px; }
    100% { top: -60px; }
  
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -20px; }
    40% { top: -40px; }
    100% { top: -60px; }

}
@-moz-keyframes move {
     0%  { top: 0px; }
    20% { top: -20px; }
    40% { top: -40px; }
    100% { top: -60px; }
 
}
@-o-keyframes move {
      0%  { top: 0px; }
    20% { top: -20px; }
    40% { top: -40px; }
    100% { top: -60px; }
  
}
@keyframes move {
     0%  { top: 0px; }
    20% { top: -20px; }
    40% { top: -40px; }
    100% { top: -60px; }

}

}