<!--The content below is only a placeholder and can be replaced.
   <div>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0</div>-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>
<nav class="menu">
   <ul>
      <li><a href="#challenges">Challenges</a></li>
      <li><a href="#why">Why ?</a></li>
      <li><a href="#sponsorship">Sponsorship & Partners</a></li>
      <li><a href="#home">Home</a></li>
      <li><a href="#register">Register</a></li>
   </ul>
</nav>
<div id="home" style="background-color:white;">

    

      <img class="bnw" src="assets/ai640.png"><br>
          <div class="flex-container-home">
        <div class="long">LONGEVITY HACKATHON</div>   
          </div>    
   <!-- Side navigation -->
   <!--<img class="menu-image" src="assets/logevity.png" width="64" height="64">-->
   
   <br>
      
   <div class="flex-container-home">

    
     <div><strong>time to dive deep into the journey 
                  through life itself, 
                  and create the future we deserve !!.
      </strong></div>  
  
  
      </div>
  </div><br>       
   <div id="apply">
   
   <a href="#register"> <button>APPLY</button><img id='loading' src="assets/blueDna.png" style="position:relative;left: 5%;top:0%;" width="35px" height="35px" title="APPLY" ></a>
   </div>


<!-- <div class="content">
   <ul>
   
   <li><a href="#">Home</a></li>
   <li><a href="#">About</a></li>
   <li><a href="#">Sponsorship & Partners</a></li>
   <li><a href="#">Register</a></li>
   
   </ul>
   </div>-->
<div id="why" class="class-section about">
   <div class="wrap-2 a">
      <div class="left-1">
         <h1>Our Why ?</h1>
         <p style="font-size:25px; color:gray;">We are <strong>committed</strong> to the possibility that <strong>humans</strong> will <strong>choose and create</strong> the life they want at any age With <strong>vitality</strong></p>
         <h3>The first aging research hackathon is a first step In order to achieve two goals</h3>
      </div>
      <div class="row" >
         <div class="column" style="font-size:20px;">
            
            Raise <strong>awareness</strong> and establish industrial ecosystem for <strong>longevity research</strong> in Israel.
         </div>
         <div class="column" style="font-size:20px;">
           
            Provide a <strong>connection</strong> between <strong>world</strong> leaders in the field, to the Scientific and Tech <strong>community</strong> in Israel.
         </div>
      </div>
   </div>
</div>
<div id="challenges" class="class-section challnges">
   <div class="wrap-2 a">
      <div class="left-1" >
         <h2 style="color:white;">Longevity Challenges<br/></h2>
         <div>
            <h2 style="color:white;">INSELICO MEDICINE</h2>
         </div>
         <!--<img src="https://uploads-ssl.webflow.com/5b643ff570084d2e83ea14a7/5b7d95341edba4585fd75779_inovizz.png" width="178" alt="" class="customers-logo"/>-->
         <p >An AI company in the field of drug discovery, looking to change the world by helping understand aging, using models of <strong>deep learning.</strong> </p>
         <br>
         <div >
            <h2 style="color:white;">BIO VIZA SCIENCE</h2>
         </div>
         <!--<img src="https://uploads-ssl.webflow.com/5b643ff570084d2e83ea14a7/5b7d95246f0029829fd94da0_lr.png" width="233" alt="" class="customers-logo"/>-->
         <p class="bold-text">Want to help a top Jerusalem startup pilot churn prediction on an actual project for its flagship app - a product already used by millions all over the world? Sift through noisy data to discover patterns predicting who will churn and even when these ‘suspects’ are likely to unsubscribe, to earn yourself a lucrative reward at DataHack 2018!</p>
      </div>
   </div>
</div>
<div id="profile">
   <br><br><br>
   <div>
      <h1 style="text-align:center; color:#2dabbb;"><strong>Judges</strong></h1>
   </div>
   <br>
   <div class="row"  >
      <div class="column">
         <div class="card">
            <img id="img" src="assets/judge.jpg" alt="Jane"><br>
            <div class="p-container" style="opacity: 1;">
               <h2 ><strong>Jane Doe</strong></h2>
               <p>CEO &amp; Founder</p>
               <p>   Some text that describes me lorem ipsum ipsum lorem.</p>
                 <p> example@example.com</p>
              
            </div>
         </div>
      </div>
      <div class="column">
         <div class="card">
            <img id="img" src="assets/judge.jpg" alt="Mike" ><br>
            <div class="p-container" style="opacity: 1;">
               <h2>Mike Ross</h2>
               <p class="title">Art Director</p>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <p>example@example.com</p>
            </div>
         </div>
      </div>
      <div class="column">
         <div class="card">
            <img id="img" src="assets/judge.jpg" alt="John" ><br>
            <div class="p-container" style="opacity: 1;">
               <h2 >John Doe</h2>
               <p class="title">Designer</p>
               <p>Some text that describes me lorem ipsum ipsum lorem.</p>
               <p>example@example.com</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div>
   <h1 style="text-align:center;padding:30px;color:gray;">Prizes</h1>
   <ol>
      <div class="flex-container">
         <div id="second">
            <li>
               3000 &#8362; 
            </li>
         </div>
         <div id="first">
            <li>5000 &#8362;</li>
         </div>
         <div id="third">
            <li>1500 &#8362;</li>
         </div>
      </div>
   </ol>
</div>
<div>
   <div id="sponsorship" style="background-color:rgba(239,239,241,0.85);">
      <br>
      <div>
         <h1 style="text-align:center; color:#2dabbb;"><strong>Sponsorship & Partners</strong></h1>
      </div>
      <br>
      <div class="flex-container-sponsers">
         <div>
            <br>
            <img  src="assets/logo.png" >
         </div>
         <div><br>
            <img   src="assets/logo.png" >
         </div>
         <div>
            <br>
            <img   src="assets/logo.png">
         </div>
      </div>
      <div class="flex-container-sponsers">
         <div>
            <br>
            <img  src="assets/logo.png" >
         </div>
         <div><br>
            <img   src="assets/logo.png" >
         </div>
         <div>
            <br>
            <img  src="assets/logo.png">
         </div>
      </div>
   </div>
</div>
<div id="register" >
   <div class="class-section register"  style="background-image: url('/assets/molecule.jpg');background-color:rgba(239,239,241,0.85); ">
      <div  class="wrap-2 a">
         <div class="left-1">
            <div class="column" style="background-color:white;">
               <p style="background-color:white; color:gray;text-align:center; width:100%;">Are you a technological expert or scientict ? Are you pessionate about making a big shift in the quality of human health ? if yes, Fill the form and Join the event</p>
               <h1 style="text-align:center; color:#2dabbb;">Join Us</h1>
               <hr>
               <form action="/action_page.php">
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  <select id="profession" name="profession" placeholder="profession">
                     <option value="bioinformatics">Bioinformatics</option>
                     <option value="data">Data science ML expert</option>
                     <option value="fullstack">Full stack</option>
                     <option value="sponsorship">Sponsorship</option>
                  </select>
                  <label for="subject">Subject</label>
                  <textarea id="subject" name="subject" placeholder="Tell us more about yourself.." style="height:170px"></textarea>
                  <input type="submit" value="Send">
                  <hr>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<br>
<footer>
   <div class="flex-container-footer">
      <div>
         <img src='assets/logo.png' width="80px" height="60px">
         <div  id="prodaction">Mendel Haim Production<br><br>2018
         </div>
       
         <br>
      
      </div>
      <div>  </div>
      <div>
         
      </div>
   </div>
</footer>