
<section id="team">
   
<div class="card">
  <img src="assets/fun.JPG" alt="" />
  <div class="data">
    <h2>Gil Marom</h2>
    <i>Product Designer</i>
    <p>Entrepreneur, Web developer and social activist for research on age related diseases</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-behance"></a>
  </div>
</div>
<div class="card"><h1>Judges</h1></div> 
<div class="card">
  <img src="assets/fun.JPG" alt="" />
  <div class="data">
    <h2>Gil Marom</h2>
    <i>Product Tester</i>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam sedesmi. Consectetur elit placerat mollis donec dolor.</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-behance"></a>
  </div>
</div>
<div class="card">
  <img src="assets/judge.jpg" alt="" />
  <div class="data">
    <h2>Paul Landers</h2>
    <i>Sandwich Designer</i>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam sedesmi. Consectetur elit placerat mollis donec dolor.</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-behance"></a>
  </div>
</div>
<div class="card">
  <img src="assets/judge.jpg" style='  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);' alt="" />
  <div class="data">
    <h2>Till Lindemann</h2>
    <i>Product Tester</i>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam sedesmi. Consectetur elit placerat mollis donec dolor.</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-behance"></a>
  </div>
</div>

<div class="card">
  <img src="assets/judge.jpg" style='  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);' alt="" />
  <div class="data">
    <h2>Till Lindemann</h2>
    <i>Product Tester</i>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam sedesmi. Consectetur elit placerat mollis donec dolor.</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-behance"></a>
  </div>
</div>
<div class="card">
  <img src="assets/judge.jpg" alt="" />
  <div class="data">
    <h2>Gil Marom</h2>
    <i>Product Designer</i>
    <p>Entrepreneur, Web developer and social activist for research on age related diseases</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-behance"></a>
  </div>
</div>
<div class="card">
    <h1>Mentors</h1>
</div>
<div class="card">
  <img src="assets/judge.jpg" alt="" />
  <div class="data">
    <h2>Gil Marom</h2>
    <i>Product Designer</i>
    <p>Entrepreneur, Web developer and social activist for research on age related diseases</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-behance"></a>
  </div>
</div>
<div class="card">
  <img src="assets/judge.jpg" alt="" />
  <div class="data">
    <h2>Gil Marom</h2>
    <i>Product Designer</i>
    <p>Entrepreneur, Web developer and social activist for research on age related diseases</p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-behance"></a>
  </div>
</div>
</section>

