
body{    font-family: 'Roboto', sans-serif;}
h1{ font-family: 'Roboto', sans-serif;}
p{font-family: 'Roboto', sans-serif}
#home div{
  color:#225470;
  padding-top: 0px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
.long {
    font-size: 50px;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #225470;
    font-weight: 550;
}
.life {
    font-size: 50px;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #225470;
    font-weight: 350;
}
#apply {
    display: flex;
    justify-content: center; 
    background-color:#DEB887;  
}
.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
  width: 100%;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#225470;
  opacity:0.1;
}

.header-content{
  z-index:2;
  
}


.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
  z-index: 4;
}

#home div.main{ font-size:30px;}
h1#maintext {
 z-index:3;opacity:1; color:MidnightBlue; position:absolute;top:15%; left:20%;width: 80%;
}
   p#maintext {
   z-index:3; color:MidnightBlue; position:absolute;top:25%; left:20%; font-size: 25px;
}
path {
  fill: transparent;
}

text {
  fill: #FF9800;
}
hr{
  background-color: black;
  z-index: 1;
  width:100%;  
}

form{
 
}

h1.main-text{
  color: 		black;
  margin-top: -49px;
  margin-bottom: -41px;
  padding-top: 0;
  padding-left: 0;
  -webkit-perspective: 0;
  perspective: 0;
  -webkit-transform: translate3d(0,0,-3px);
  transform: translate3d(0,0,-3px);
  position: absolute;
  top:30%;
  left: 2%;
  line-height: 196px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-weight: 700;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}
h2{
  color:  gray;
  font: bold;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}
.ml {
 
}


.flex-container-home {
  display: flex;
  justify-content: space-around;
  color: #225470;
  font-family: 'Roboto', sans-serif;
 /* background-color: DodgerBlue;*/
 
}

.flex-container-home > div {
  
  width: 90%;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}
#home .long{ 
   font-size: 50px;
   justify-content: center;
   text-align: center;
  
                } 

@media screen and ( max-width:500px){
  #home div{
    font-size: 14px;  
   }
 #home .long{ 
   font-size: 20px;
   justify-content: center;
   text-align: center;
                } 
  #home h1{
    
  font-size: 40px; 
  text-align: center; 
  color: 		black;
  margin-top: -49px;
  margin-bottom: -41px;
  padding-top: 0;
  padding-left: 0;
  -webkit-perspective: 0;
  perspective: 0;
  -webkit-transform: translate3d(0,0,-3px);
  transform: translate3d(0,0,-3px);
  width: 100%; 
  line-height: 196px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-weight: 3000;
    
   }
  #home background-image{ 
      height: 600px;
  } 
 #aplly img#loading{
    width:60px;
    color: #225470;
   
  }
  
  #home .sub-main-header{
     position: absolute;
    top:20%;
    left:30%;
    font-size: 16px;
  }
  #home > img.bnw{

    height: 170px;
    width: 85%;
    margin-top:20px;
  
  }
  h1#maintext {
 z-index:3;opacity:1; color:MidnightBlue; position:absolute;top:15%; left:20%;width: 80%;font-size: 25px;
}
    p#maintext {
   z-index:3; color:MidnightBlue; position:absolute;top:25%; left:20%; font-size: 22px;
}
  div.rainbow{
   top:15%;
    font-size: 13px;
  }

  #home .date-place{
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  top: 70%;
  left: 30%; 
  -webkit-perspective: 0;
  perspective: 0;
  -webkit-transform: translate3d(0,0,-3px);
  transform: translate3d(0,0,-3px);
   line-height: 196px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-weight: 3000;
  
  }
  #home a.apply-button{
    
     
  }
  #home button{
  
     }

  #register h1{
   
    color: white;
  }   
 nav.menu {
  position: fixed;
  top:73%;
  left:41%;   
}

  .flex-container-footer{height: 250px;background-color: MidnightBlue;} 
  .flex-container-footer>div #prodaction {
   
   left:10%;
 }

 .flex-container-sponsers{}
 .flex-container-sponsers > div{
  
 float: left;
 width: 140px;

  padding: 0 8px;

  text-align: center;
    
}
 .flex-container-judges >div>h2{
   text-align: center;
 }
  .flex-container-judges >div>p{
   text-align: center;
   font-size:10px;
 }
#img {

 width:100px; 
 height:100px;
 }
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  opacity: 0.3;
}

.chrom{ 
  position: fixed;
  top:5%;
  right: 10%;
}

#loading {
		-webkit-animation: rotation 2s infinite linear;

}

.menu-image{ 
  position: fixed;
  top:87%;
  left:48%;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
.content{
    position: fixed;
    top:35%;
    right:2%;
    list-style-type:none; 
    z-index: 1; /* Stay on top */
    overflow-x: hidden;                  
    background-color: rgb(237, 237, 239);
}


ul{
  list-style-type:none;
  background-color:  rgb(237, 237, 239)

}
li{
  padding-top: 15px;

}

.sub-main-header{
  color: black;
  margin-top: -49px;
  margin-bottom: -41px;
    padding-top: 0;
    padding-left: 0;
    -webkit-perspective: 0;
    perspective: 0;
    -webkit-transform: translate3d(0,0,-3px);
    transform: translate3d(0,0,-3px);
     position: absolute;
    top:15%;
    left:3%;
    font-size: 50px;
    line-height: 196px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/* date place*/
.date-place{
  color: 	black;
  margin-top: -49px;
    margin-bottom: -41px;
    padding-top: 0;
    padding-left: 0;
    -webkit-perspective: 0;
    perspective: 0;
    -webkit-transform: translate3d(0,0,-3px);
    transform: translate3d(0,0,-3px);
     position: absolute;
    top:45%;
    left:3%;
    font-size: 50px;
    line-height: 196px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.flex-container-sponsers{
  display: flex;
  justify-content: center;
  width: 100%;
}
.flex-container-sponsers > div{
 float: left;
 width: 200px;
 padding: 0 8px;
 text-align: center;    
}

.flex-container-sponsers > div > img{
   width: 100px; height: 80px;
 }

/* The navigation menu links */
.content a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: 	white;
  display: block;
  
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.prize {
 background-color: white;
 text-align: center; 
 color:	#80b09a;
 padding-bottom: 10px;
 padding-top: 10px;
 font-family: 'Roboto', sans-serif;
}
.flex-container {
  display: flex;
  justify-content: center;
  height: 300px;
}

.flex-container > div {
  
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

ol{
  align-content: center; 
  list-style-type: none;
  font-size: 20px;
  
}

 #first {
height: 200px;
background-color: 	darkgoldenrod;
color: white;

}
 #second {
  position:relative;
  top:10%;
  height: 170px;
  background-color: silver;
  color: white;
  
}
#third{
  position: relative;
  top:20%;
  height: 140px;
  background-color: #CD7F32;
  color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  background-color: 		#ffffff;
}
.sponsership{
    text-align: center;
    background-color: rgb(237, 237, 239);
    color: white;
}
.sponsership >div> div> br >img { width: 200px; height: 170px;}
.main-text{
    position: absolute;
    top:20%;  
    color: white;
    font-weight: bold;
}



.apply-button{
   
      
}

button{
  /*background-color: #80b09a;*/
  height: 25px;
  width: 100px;
 
  border:#225470 solid 0.1em;
  color:#225470; 
  background: no-repeat;
}

/* grid for prizes*/
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 100px 100px; /*Make the grid smaller than the container*/
  grid-gap: 50px;
  
}

.grid-container > div {
  
  text-align: center;
  
  font-size: 30px;
  color: 	#80b09a;
}

.grid-container-sponsor {
  display: grid;
  width: 100%;
  height: 400px;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  justify-content: center;
 

}

.grid-container-sponsor > div {

  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  grid-template-columns: 100px 100px 100px;
  width: 150px;
  height: 150px;
  
}



.class-section.about{
  background-color:	white;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  font-family: 'Roboto', sans-serif;
  color: gray;      
      
}
.class-section{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    background-color:	#f0e1ba;
     -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.class-section.challnges {
    background-color: 	 #0291D1;
  /*  background-image: url('/assets/brain.png');*/
     background-repeat: no-repeat;
      background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
        font-family: 'Roboto', sans-serif;

}
.class-section {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    color: #000; 
    background-repeat: no-repeat;
      background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
   
}
.class-section.challnges.image{

  
}

.class-section.register{
  background-color: white;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  
  background-repeat: no-repeat;
  width: 100%;
     font-family: 'Roboto', sans-serif;
 
}


.wrap-2.a {
    margin-bottom: 3%;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.class-section, .wrap-2.a {
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.a {
    font-weight: 300;
}

.wrap-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
}

.left-1 {
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0 20px;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
}
.left-1, .right-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

* {
  box-sizing: border-box;
}
P{
  color: white;
  text-align: left;
  width: 80%;
}
#goal{
  margin-bottom: 10px;
}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  opacity: 1;
   
}

 textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  opacity: 1;
  height: 150px; 
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  opacity: 1;
   
}
label{
  color: black;
}
input[type=submit] {
  background-color: #0291D1;
  color: #225470;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: left;
  
}

input[type=submit]:hover {
  background-color: #80b09a;
  
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
 
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width:35%;
  
  margin-top: 6px;
  padding: 20px;
  color:#225470;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}



/* --- */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
    
  }
}



img.bnw{
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
      height: 300px;
      padding-top: 50px;
    }

    img.bnw:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
      
    }

#content       
{   color: black;
    font-size: .75em; /* 12/16 */
    width: 71.875%; /* 650/960 */
    max-width: 960px;
    text-align: left;
    margin: 0px auto; /*auto centers the container */
    padding: 3.84615384615385%; /* 25/650 */
    background-color: rgb(237, 237, 239);
}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */   
.columns
{   
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 11.5em;
    background-color:  rgb(237, 237, 239);

}

/*remove standard h2 and bullet formatting from h2*/
.columns h2{
  
}
/*remove standard list and bullet formatting from ul*/
.columns ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
    margin-top:0px;
}

.sponsership{
  color: black;
  text-align: center;
}
.container {

background-color: white;

margin: 0;
padding: 0;
width: 100%;
height: 650px;
background-repeat: no-repeat;
opacity: 0.5;

}
#register h1{
  color: black;
  
}

footer{
  height:175px;
  width: 100%;
  background-color: #225470;
      font-family: 'Roboto', sans-serif;
}
.flex-container-footer {
  display: flex;
  justify-content: space-between;
  
}

.flex-container-footer > div {
  background-color: white;
  width: 200px;
  padding-top: 10px;
  text-align: left;
  background-color: #225470
  
}

.flex-container-footer #prodaction{
  color:white;font-size:14px;text-align:left; position:absolute; left:78px;
}

#profile{
  background-color:white;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
#profile .column {
  float: left;
  justify-content: center;
  width: 33.3333%;
  height: 400px;
  margin-bottom: 16px;
  padding: 0 8px; 
  background-color:white;
}
#img{
border-radius: 50%;    -webkit-border-radius: 50%; margin-top:2px;  border: 0.2em solid #0291D1;  
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);position:relative;top:20px; width:160px; height:140px;}

#profile > div  >div > div >div> p{ color: #0291D1; background-color: white;  }
#profile .button #contact{width:100%}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  #profile .column {
    width: 100%;
    display: block;
  }
}
#apply{
  display: flex;
  justify-content: center;
  
   
}

/* Add some shadows to create a card effect */
.card {
  background-color: white;
}

/* Some left and right padding inside the container */
#profile div.p-container {
  padding: 0 10px;
  background-color:white;
}

/* Clear floats */
.p-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


.title {
  color: grey;
}

#profile .button #contact{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
