
   
<div class="home" style="background-color:#0A2B30;">
</div> 
 <br>
<div>
<a style="z-index:1;" class="pa-embeded-image"><img class="mercury" src="https://cdn130.picsart.com/278373148014211.png" data-id="278373148014211" data-size="medium" data-head="1" data-foot="1" alt="#queen#mercury"  height="590.340127388535px" ></a>
</div>
<br>
<div>
  
<p class="data">Aging Research<br>
 Hackathon 2019</p>
<p class="rock">ROCKING FOREVER<br>
</p>
 <p class="slogen">Let's move!</p>
  <a style="width:40;" routerLink="/podcast" routerLinkActive="active"><img src="assets/mic.png" title="podcast"width="40px"></a>             
 
 <p class="long"><img class="forever" src='assets/forever.png' width='300px'>
<br>
 </p>    
</div>
<!-- <div class="content">
   <ul>
   
   <li><a href="#">Home</a></li>
   <li><a href="#">About</a></li>
   <li><a href="#">Sponsorship & Partners</a></li>
   <li><a href="#">Register</a></li>
   
   </ul>
   </div>-->
  
 
  <br>

<div class="wrap-2 a">

     <div class="left-1">
       
       <h1 style='color:white;'>Our Why ?</h1>
       <hr>
       <p style='color:white;width:85%;z-index:1;font-weight:300;font-size:20px;'>
        Shaping now a future world in which human beings will choose and create the life they want at any age With vitality, is our commitment.   
       </p>
     <p style='color:white;width:85%;z-index:1;font-weight:300;font-size:20px;'>  
      Today, aging is not defined as a disease by the World Health Organization, but scientists are 
      already see a connection between diseases like Parkinson's and Alzheimer's as part of the aging process.
      In order to accelerate existing research, to establish an industry and to dare to try new directions that sometimes do not fit with the same considerations of grantees for research, we need to raise awareness about this issue and enable talented people to access the field.
    </p>
     </div>
</div>

<div class="wrap-2 a">

     <div class="left-1">
        
      <h1 style='color:white;display:flex;z-index:2;text-align:center;'>Where is everyone ?</h1>  
       <hr>    
       <p style="color:white;width:85%;z-index:1;font-weight:300;font-size:20px;"> According to the Alzheimer's Association, 5.8 million Americans living with Alzhaimer Diseasess, by 2050 this number is projected to rise to nearly 14 million.
      </p>
      <p style="color:white;width:75%;z-index:1;font-weight:300;">Imagine the entire population of Michigan state is sinking into darkness of Alzhaimer Diseasess. Fighting Old Age related diseases is a Global mission.
      </p>
      <img style="width:80%; height:60%;" src='assets/map.png' >
    </div>   
</div>
<br><br>
<app-team></app-team>
      
<br><br>


<div>
      <br>
      <br>
     <div class="center">
        <h1 style="z-index:2;display:flex;text-align:center;color:white;">Sponsorship & Partners</h1>
     </div>

  <div class="flex-container-sponsers">
         <div>
            <br>
            <img style="z-index:2;" src="assets/logo.png" >
         </div>
         <div><br>
            <img   src="assets/logo.png" >
         </div>
         <div>
            <br>
            <img   src="assets/logo.png">
         </div>
      </div>
      <div class="flex-container-sponsers">
         <div>
            <br>
            <img  src="assets/logo.png" >
         </div>
         <div><br>
            <img   src="assets/logo.png" >
         </div>
         <div>
            <br>
            <img  src="assets/logo.png">
         </div>
      </div> <br> <br>
</div>

<div id="register" >
   <div class="class-section register"  style="background-image:url('/assets/molecule.png')">
      <div class="wrap-2 a">
         <div class="left-1">
            <div class="column" style="z-index:3;">
               <p style=" color: #white;text-align:center; width:100%; font-weight:350;">Are you a technological expert or scientict ? Are you pessionate about making a big shift in the quality of human health ? if yes, Fill the form and Join the event</p>
               <h1 style="text-align:center; color:white;">Join Us</h1>
               <hr>
               <form (ngSubmit)="processForm()">
     
                  <!-- name -->
                   <div class="form-group">
                   <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name">
                  </div>

                  <!-- email -->
                  <div class="form-group">
                    <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email">
                  </div>
                  <!-- input -->
                  <div class="form-group">
                  <select type="number"   [(ngModel)]="proSelected"  (ngModelChange)="onSelectProfession()"  [ngModelOptions]="{standalone: true}">>
                     <option *ngFor="let pro of professions" [ngValue]="pro.Name" >{{pro.Name}}</option>
                 </select>
                  </div>
                 
                  <!-- message -->
                 <div class="form-group">
                    <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message"></textarea>
                </div>

                  <button type="submit">Submit</button>

                </form>
            </div>
         </div>
      </div>
   </div>
</div>

<footer style="z-index:4;">
   <div class="flex-container-footer">
      <div>
         <img  src='assets/logo.png' width="80px" height="60px">
         <div id="prodaction">Mendel Haim Production<br><br>2018
         </div>
       
         <br>
      
      </div>
      <div>  </div>
      <div>
         
      </div>
   </div>
</footer>
<script>
 
</script>